<% include partials/top %>

<div id="container" class="container mt-2">
  
  <h1 class="text-center">Macro Tracker</h1>

</div>

<script src="/home-script.js"></script>

<% include partials/bottom %>
